* {
    /*初始化，全设0*/
    padding: 0;
    margin: 0;
}

.flex {
    /**/
    display: flex;
    width: 80%;
    margin: auto;
}

h1 img {
    width: 100%;
}

.fixed {
    visibility: hidden;
    position: fixed;
    color: coral;
    left: 30%;
}

nav div ul {
    /*nav中div的ul部分*/
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
}

nav div {
    width: 100%;
    position: relative;/*相对定位*/
    height: 100px;

}

.absolute {
    /*img class="absolute"标签*/
    /*如要实现文字在图上显示，图片和文字的html标签必须在一个div中*/
    position: absolute;/*绝对定位，基于图片的位置而定*/
    z-index: -1;/*html中img标签在文字标签前，所以不写z-index的话图片会在文字上层*/
    width: 100%;
    height: 100%;
}

section img {
    float: left;
    width: 100px;
    height: 100px;
}
main{
    display: flex;

}
article{
    flex:2;
    margin-left: 10px;
    margin-right: 10px;
}
#sidebar1{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}
#sidebar2{
    flex: 1;
    margin-left: 10px;
    margin-right: 10px;
}
#footer-area{
    margin-top: 22px;
    color: #f68686;
    width: 80%;
}